<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/reset.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('header'); -%>
        <main>
            <h1><%= title %></h1>
            <form class="display-form" action="" method="POST">
                <div class="form-group">
                    <label for="title">Title</label>
                    <input type="text" id="title" name="title" />
                </div>

                <div class="form-group">
                    <label for="text">Message Text</label>
                    <textarea name="text" id="text"></textarea>
                </div>

                <button type="submit">Post Message</button>
            </form>
        </main>
    </body>
</html>
