<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/reset.css" />
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <%- include('header'); -%>
        <main>
            <h1><%= title %></h1>
            <form class="display-form" action="" method="POST">
                <div class="form-group">
                    <label for="username">Username</label>
                    <input type="text" required id="username" name="username" />
                </div>

                <div class="form-group">
                    <label for="firstName">First Name</label>
                    <input
                        type="text"
                        required
                        id="firstName"
                        name="firstName"
                    />
                </div>

                <div class="form-group">
                    <label for="lastName">Last Name</label>
                    <input type="text" required id="lastName" name="lastName" />
                </div>

                <div class="form-group">
                    <label for="password">Password</label>
                    <input
                        type="password"
                        required
                        id="password"
                        name="password"
                    />
                </div>

                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input
                        type="password"
                        required
                        id="confirmPassword"
                        name="confirmPassword"
                    />
                </div>

                <button type="submit">Sign Up</button>
            </form>

            <div class="errors">
                <ul>
                    <% errors.forEach((error) => { %>
                    <li><%= error.msg %></li>
                    <% }); %>
                </ul>
            </div>
        </main>
    </body>
</html>
