<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel="stylesheet" href="/stylesheets/style.css" />
    </head>
    <body>
        <h1><%= title %></h1>
        <form action="" method="POST">
            <label for="username">Username</label>
            <input type="text" required id="username" name="username" />

            <label for="firstName">First Name</label>
            <input type="text" required id="firstName" name="firstName" />

            <label for="lastName">Last Name</label>
            <input type="text" required id="lastName" name="lastName" />

            <label for="password">Password</label>
            <input type="password" required id="password" name="password" />

            <label for="confirmPassword">Confrim Password</label>
            <input
                type="password"
                required
                id="confirmPassword"
                name="confirmPassword"
            />

            <button type="submit">Sign Up</button>
        </form>

        <div class="errors">
            <ul>
                <% errors.forEach((error) => { %>
                <li><%= error.msg %></li>
                <% }); %>
            </ul>
        </div>
    </body>
</html>
